<footer>
    <section id="ft-reg">
        <div class="callout">
            <div class="large-6 large-offset-3">
                <h4 class="text-center text-white" >Subscribe to Our Newsletter!</h4>
                <form action="post">
                    <input type="text" placeholder="Join Our Newsletter">
                </form>
            </div>
        </div>
    </section>

<section id="ft-copynav">
    <div class="row">
        <div class="column">
            <p>&copy; 2018 <a href="#">AI5LE</a></p>
        </div>
        <div class="column text-center" id="ft-cred">
            <span class="fa fa-code"></span> with <span class="fa fa-heart"></span> &amp; <span class="fa fa-coffee"></span>
        </div>
        <div class="column" id="ft-nav">
            <ul class="menu">
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
</section>

</footer>