<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>


    <ul class="vertical menu accordion-menu" data-accordion-menu>
        <li>
            <a href="{{root}}">Home</a>
        </li>
        <li>
            <a href="{{root}}process/index.html">Our Process</a>
            <ul class="menu vertical nested">
                <li>
                    <a href="{{root}}process/index.html#discovery">Discovery</a>
                </li>
                <li>
                    <a href="{{root}}process/index.html#design">Design</a>
                </li>
                <li>
                    <a href="{{root}}process/index.html#develop">Develop</a>
                </li>
                <li>
                    <a href="{{root}}process/index.html#debug">Debug</a>
                </li>
                <li>
                    <a href="{{root}}process/index.html#deploy">Deploy</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Our Services</a>
            <ul class="menu vertical nested">
                <li>
                    <a href="{{root}}services/index.html">Design</a>
                    <ul class="menu vertical nested">
                        <li>
                            <a href="{{root}}services/index.html" title="Web and Mobile App Design">Web &amp; Mobile App Design/Redesign</a>
                        </li>
                        <li>
                            <a href="{{root}}services/index.html">Design to HTML</a>
                        </li>
                        <li>
                                <a href="{{root}}services/index.html">CMS Site Integration</a>
                            </li>
                        <li>
                                <a href="{{root}}services/index.html">E-Commerce Shop Design/Redesign</a>
                            </li>
                    </ul>
                </li>

            </ul>
        </li>
        <li>
            <a href="{{root}}work/">Our Work</a>
        </li>
        <li>
            <a href="{{root}}">Contact</a>
        </li>
        <li><a id="layoutDark">Layout Dark</a></li>

    </ul>

    <div class="close">
            <a data-close class="button primary hollow expanded">Close Menu</a>
        </div>
</div>