<div class="off-canvas position-right" id="offCanvas" data-transition="push" data-off-canvas>
        <div class="close">
            <a data-close class="button hollow expanded">Close Contact</a>
        </div>
        <input type="search" placeholder="Search"></li>
        <input type="submit is-hidden">
        </ul>
    
    <ul class="vertical menu accordion-menu" data-accordion-menu>
            <li>
                <a>Layouts</a>
                <ul class="menu vertical nested">
                <li><a id="layoutDark">Layout Dark</a></li>
                <li><a href="#">Item 1B</a></li>
                </ul>
            </li>
            <li><a href="#">Item 2</a></li>
            </ul>
    </div>


    